---
const experiences = [
  {
    period: "2022 — 2024",
    title: "Data Engineer, DWH",
    company: "Millicom Tigo",
    companyUrl: "https://www.millicom.com/",
    description: "Managed critical data engineering components, migrated 500+ legacy processes to modern orchestration systems, developed an analytical model for HFC network data, and implemented data ingestion pipelines while ensuring KPI integrity through robust verification processes.",
    technologies: ["SQL", "AWS", "Oracle", "Spark", "Airflow"]
  },
  {
    period: "2015 — 2017",
    title: "Web Development",
    company: "Comunimax Comunicação Visual",
    description: "Managed the integrity and updates of commercial websites for clients Mercedes Mardisa and Feticom. Developed and maintained commercial portfolio websites, including WordPress and static pages. Provided IT support to ensure seamless website operations.",
    technologies: ["CSS", "Javascript", "PHP", "WordPress"]
  }
];
---

<div id="experience" class="min-h-screen flex flex-col">
  <ol class="group/list flex-grow">
    {experiences.map((job) => (
      <li class="mb-12">
        <div class="group relative grid pb-1 transition-all sm:grid-cols-8 sm:gap-8 md:gap-4 lg:hover:!opacity-100 lg:group-hover/list:opacity-50">
          <div class="absolute -inset-x-4 -inset-y-4 z-0 hidden rounded-md transition motion-reduce:transition-none lg:-inset-x-6 lg:block lg:group-hover:bg-green-800/50 lg:group-hover:shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] lg:group-hover:drop-shadow-lg">
          </div>
          <header class="z-10 mb-3 mt-1 text-xs font-fira uppercase tracking-wide text-green-600 sm:col-span-2" aria-label={`${job.period}`}>
            {job.period}
          </header>
          <div class="z-10 sm:col-span-6">
            <h3 class="font-fira leading-snug text-green-200">
              <div>
                <a
                  class="inline-flex items-baseline font-fira leading-tight text-green-200 hover:text-green-600 focus-visible:text-green-300 group/link text-base"
                  href={job.companyUrl}
                  target="_blank"
                  rel="noreferrer noopener"
                  aria-label={job.title}
                >
                  <span class="absolute -inset-x-4 -inset-y-2.5 font-fira hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block"></span>
                  <span>
                    {job.title} ·
                    <span class="inline-block">
                      {job.company}
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                          clip-rule="evenodd"
                        />
                      </svg>
                    </span>
                  </span>
                </a>
              </div>
            </h3>
            <p class="mt-2 font-fira leading-normal">
              {job.description}
            </p>
            <ul class="mt-2 flex flex-wrap" aria-label="Technologies used">
              {job.technologies.map((tech) => (
                <li class="mr-1.5 mt-2">
                  <div class="flex items-center rounded-full bg-green-600/10 px-3 py-1 text-xs font-fira leading-5 text-green-300">
                    {tech}
                  </div>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </li>
    ))}
  </ol>
  <div class="mt-8 mb-12">
    <a
      class="inline-flex items-center font-fira leading-tight text-green-200 hover:text-green-600 focus-visible:text-green-300 group/link text-base"
      href="/RODRIGO_ARISMENDI_RESUME_EN.pdf"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="View Full Résumé (opens in a new tab)"
    >
      <span class="flex items-center">
        View Full Resume
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="ml-1 h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
    </a>
  </div>
</div>
